<!-- templates/about.html -->
{% extends 'layout.html' %}

{% block content %}
    <h2>The Community-Driven Pokémon Rankings</h2>
    <p>
        Welcome to <strong>PokeRank</strong>!<br>
    </p>
    <p>
        Here, we create a community consensus on the most popular Pokémon.
    </p>
    <p>By participating in these 'this or that' battles, you help shape the Pokémon popularity hierarchy based on collective opinion.</p>
    <p>
        Whether you're a seasoned fan or a casual enthusiast, PokéRank welcomes you to voice your opinions :)
    </p>
    <p>Have ideas for improvements and want to contribute to PokéRank? Contact me <a href="https://github.com/deveshrai1905/"><strong>here</strong></a>.</p>
    <div class="citations">
        I do not hold the copyright to any content from Pokemon. <br>
        Special thanks to <a href="https://github.com/PokeAPI/pokeapi">PokeAPI</a> for the sprites! <br>
    </div>
{% endblock %}



