<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title or 'PokéRank' }}</title>
    <img src="static/images/pokeball.png" alt="Pokeball" class="pokeball">
    <img src="static/images/pokeball.png" alt="Pokeball" class="pokeball2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>PokéRank</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
        <div class="citations">
            Big thanks to <a href="https://github.com/PokeAPI/pokeapi">PokeAPI</a> for the sprites!
        </div>
    </main>
</body>
</html>
